#viewlet-cookiepolicy {
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0%;
    margin: 0 auto;
    padding: 15px;
    background-color: #333;
    opacity: 0.95;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    z-index: 9999;
    color: #ffffff;
}
#viewlet-cookiepolicy label {
    color: #ffffff;
}
#tlspu_cookiepolicy_title {
    padding: 0px;
    font-size: 22px;
    font-weight: 400;
    color: #ffffff;
    margin: 0 0 10px 0;
}
#tlspu_cookiepolicy_message, #tlspu_cookiepolicy_form {
    font-weight: normal;
    text-align: justify;
    padding: 0px;
    margin: 0px;
}
#tlspu_cookiepolicy_policy {
    padding: 8px 0 0 0;
    float: left;
}
#tlspu_cookiepolicy_policy a {
    color: #fff;
    border-bottom: 0.1em solid #fff;
}
#tlspu_cookiepolicy_form {
    padding: 8px 0 0 0;
    text-align: right;
}
#tlspu_cookiepolicy_button {
    padding: 2px 8px 2px 8px;
    margin-left: 16px;
}
